* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/originals/d1/ad/ba/d1adbadf4d66c4092f6e1061153ae310.gif");
  display: grid;
  align-items: center;
  justify-content: center;
  background-position: cover;
  background-repeat: repeat;
}

/* Container div */

#game-container {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 3px;
  width: 40vw;
  height: 30vh;
  border-style: double;
  border-style: inset;
  border-color: black;
  border-radius: 0.5rem;
}

/* Title */

#title,
#instructions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgb(255, 255, 255);
}

/* ButtonS */

#button-container {
  display: flex;
}

#attack-button {
  background-color: rgb(160, 6, 37);
}

#retreat-button {
  background-color: rgb(230, 167, 11);
}
